body {
  background: cornflowerblue;
}
/* ----------- For screens 768px and larger ----------- */
@media (min-width:768px) {
	body {
    background-color: #FF7F50;

  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background-color: #8A2BE2;
  }
}
